name: Email Action

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 24f2000921@ds.study.iitm.ac.in
        run: echo "Hello, world!"
